@page "/adminprofile"
@using emerge.Data
@using emerge.Controller
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<MudAppBar Class="pb-2 pt-2" Fixed="false" Elevation="0">
    <MudText Typo="Typo.h5">Profile</MudText>
    <MudSpacer />
    <MudButton Href="/profile">Switch Views</MudButton>
</MudAppBar>
<AdminNavBar />
<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h2" Color="Color.Primary">Hi, Jane</MudText>
        <MudText Typo="Typo.h5" Class="pt-2">Department of Agriculture</MudText>
        <MudText Typo="Typo.h5" Class="red-text pt-2"><b>Logged In As Town Admin</b></MudText>

        <MudContainer Class="pa-4 mt-8 mb-8">
            <MudButton Class="mb-4"
                       Href="/postdepartment"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       FullWidth="true"
                       @onclick="Logout">Add New Department</MudButton>
            <MudButton Href="/"
                       Variant="Variant.Outlined"
                       FullWidth="true"
                       @onclick="Logout">Sign Out</MudButton>
        </MudContainer>
        <MudDivider></MudDivider>
        <div>
            <MudText Typo="Typo.h5" Class="mt-8"><b>Alert History</b></MudText>

            @foreach (var alertInfo in feedController.getAlertList()) //loop through alert list
            {
                <MudCard Class="ma-8 pt-4 mb-0 rounded-xl" Outlined="true"
                         @onclick="() => OnClick(alertInfo)">
                    <MudContainer Class="pa-4">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h4" Style="font-weight:bold">@alertInfo.Title</MudText>
                                <MudText Typo="Typo.h6">Priority: @alertInfo.Priority</MudText>
                                <MudText Typo="Typo.h6" Class="mt-4">@alertInfo.Author</MudText>
                                <MudText Typo="Typo.body1">
                                    @alertInfo.Description
                                </MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudText Typo="Typo.subtitle2" Class="ms-4">
                                    @alertInfo.Time.ToString("MM/dd/yyyy")
                                </MudText>
                                <MudText Typo="Typo.subtitle2" Class="ms-4">
                                    @alertInfo.Time.ToString("HH:mm")
                                </MudText>
                            </CardHeaderActions>
                        </MudCardHeader>
                    </MudContainer>

                    <MudContainer Class=" pa-4 rounded-b-xl" Style="@($"color:{Colors.Shades.Black}; background:{Colors.Grey.Lighten3}; height: 15%; width: 100%")">
                        @foreach (var update in alertInfo.Updates) //loop through updates
                        {
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h6">UPDATE</MudText>
                                    <MudText Typo="Typo.subtitle1">@update.UpdateDescription</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudText Typo="Typo.subtitle2" Class="ms-4">
                                        @update.UpdateTime.ToString("MM/dd/yyyy")
                                    </MudText>
                                    <MudText Typo="Typo.subtitle2" Class="ms-4">
                                        @update.UpdateTime.ToString("HH:mm")
                                    </MudText>
                                </CardHeaderActions>
                            </MudCardHeader>
                        }
                    <MudCardActions>
                        <MudButton Href=@string.Format("/postupdate/{0}", @alertInfo.Id) Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Post Update</MudButton>
                    </MudCardActions>
                    </MudContainer>
                </MudCard>
            }
        </div>

    </MudContainer>
</MudMainContent>

@code {
    public bool loggedIn = false;

    private MudTheme Theme = new MudTheme();
    private NewsFeedController feedController = new NewsFeedController();


    private void OnClick(NewsAlert alertInfo)
    {
        StateHasChanged();
    }

    private void returnToFeed()
    {
        StateHasChanged();
    }

    void SignOut()
    {
        // TODO: Sign out action
    }

    void Logout()
    {
        // TODO: Login action
    }
}
